<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

**Exercise 1**: Create a Jupyter Notebook.
Create a new Jupyter notebook called DataScienceEcosystem.ipynb

**Exercise 2**: Create markdown cell with title of the notebook. Create a markdown cell with the title: Data Science Tools and Ecosystem, using H1 style heading.

# Data Science Tools and Ecosystem

**Exercise 3** - Create a markdown cell for an introduction. Write an introductory sentence about the notebook such as the follows: In this notebook, Data Science Tools and Ecosystem are summarized.

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10** - Insert a markdown cell to list Objectives.
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered, in unordered

**Objectives:**
* List popular languages for Data Science *
* List data science libraries *
* Make a table of data science tools *
* Arithmetic expressions in python *

**Exercise 4** - Create a markdown cell to list data science languages.
Start the cell with an overview line such as: Some of the popular languages that Data Scientists use are:.
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

**Exercise 5** - Create a markdown cell to list data science libraries
Add an overview line to the cell like:
Some of the commonly used libraries used by Data Scientists include:.
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scipy
5. Scikit Learn

**Exercise 6** - Create a markdown cell with a table of Data Science tools.
Create a single column table in this cell with the first row containing the header: Data Science Tools.
The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Anaconda |
| Visual Studio Code |

**Exercise 7** - Create a markdown cell introducing arithmetic expression examples.
Add a line in this cell with H3 style heading with text like:
Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8** - Create a code cell to multiply and add numbers.
In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

In [13]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

**Exercise 9** - Create a code cell to convert minutes to hours.
In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

In [15]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

**Exercise 11** - Create a markdown cell to indicate the Author's name

## Author
Udeme Joel Moses